@tailwind base;

@tailwind components;


@tailwind utilities;

.text-title {
    font-family: 'Times New Roman';
}

.title-landing {

    /* width: 572px;
    height: 182px; */

    font-family: Times New Roman;
    font-style: italic;
    font-weight: bold;
    font-size: 110px;
    line-height: 82.49%;
    /* or 91px */


    color: #000000;

}

.sub-title {
    /* width: 500px;
    height: 107px; */

    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;

    color: #000000;

}

.active {
    color: white;
    background-color: #EE4622;
}